.qf-upload {
  border: 1px dashed #dedede;
  width: 160px;
  height: 160px;
  display: block;
  lineHeight: 80px;
  float: right;
  margin-right: 5%;
}
.qf-avatar-img {
  width: 160px;
  height: 160px;
}

